<%- include("partials/header") -%>

<h1>home</h1>
<% for (let i = 0; i < posts.length; i++) { %> 
<%   console.log(posts[i].title);  %> 
<% }  %> 


<p><%= startingContent %></p>
<%- include("partials/footer") -%>
